$time-slider = .4s

//Slide standard
.swiper-slide
  text-align center
  transition .3s

//Slider Activo//
.swiper-slide.swiper-slide-active
  transition .3s
.swiper-slide.swiper-slide-active img
  height 22vw
  transition $time-slider
  background-image: url(./../src/images/brillo.png);
  transform: translateY(90%)


//Slide Siguiente y Slide Anterior
.swiper-slide.swiper-slide-next img,.swiper-slide.swiper-slide-prev img,.swiper-slide img
  height 18vw
  transition $time-slider
  transform: translateY(110%)

.swiper-slide.swiper-slide-next img, .swiper-slide.swiper-slide-prev img
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)
//wrapper general
.slider-bottles-wrapper
  width 100%
  height auto
  position relative

.swiper-container
  height 50vw
  width 75%
  margin: 0 auto

span.name-bottle
  position absolute
  color #fff
  bottom 20%
  left 0
  width 100%
  text-align center
  transition .3s

.swiper-slide.swiper-slide-active span.name-bottle
  bottom 10% !important

.swiper-slide.swiper-slide-active span.name-bottle span.underline-white
  border-bottom 1px solid #fff

//titulo slider
.slider-title
  text-align center
  position absolute
  width 100%
  left 0
  top 5%

span.name-bottle
  font-size 16px

//Flechas
.swiper-button-next
  background-image: url(./../src/images/sicon-02.png);
  border: 5px solid red
.swiper-button-prev
  background-image: url(./../src/images/sicon-01.png);
  border: 5px solid red

@media(max-width:1024px)
  .swiper-container
    width 80%

@media(max-width:768px)
  .swiper-container
    height 90vw
    width 85%
  .swiper-slide img, .swiper-slide.swiper-slide-next img, .swiper-slide.swiper-slide-prev img,.swiper-slide.swiper-slide-active img
    height 35vw

  .swiper-slide.swiper-slide-active span.name-bottle
    bottom: 15%

  .swiper-slide.swiper-slide-prev img, .swiper-slide.swiper-slide-next img
    transform translateY(75%)

  .swiper-slide.swiper-slide-active img
    transform translateY(100%)

  span.name-bottle
    font-size 18px

@media(max-width:640px)
  .swiper-container
    height 100vw
  .swiper-slide img, .swiper-slide.swiper-slide-next img, .swiper-slide.swiper-slide-prev img,.swiper-slide.swiper-slide-active img
    height 45vw
    transform translateY(65%)

  .swiper-slide.swiper-slide-active span.name-bottle
    bottom: 20%;

@media(max-width:480px)
  .swiper-container
    height 100vw
  .swiper-slide img, .swiper-slide.swiper-slide-next img, .swiper-slide.swiper-slide-prev img,.swiper-slide.swiper-slide-active img
    height 55vw
    transform translateY(45%)

  .swiper-slide.swiper-slide-active span.name-bottle
    bottom: 10%;
